<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.riffhub.mapper.FanMapper">
    <insert id="attention">
        insert into fans(fan_id, person_id, username, nickname, avatar_url)
        values (#{userId}, #{attentionId}, #{username}, #{nickname},#{avatar})
    </insert>

    <delete id="cancelAttention">
        DELETE FROM fans
        WHERE fan_id = #{userId}
        AND person_id = #{cancelAttentionId}
    </delete>

    <select id="getFansList" resultType="com.riffhub.pojo.Fan">
        SELECT * FROM fans WHERE person_id=#{personId}
    </select>

    <select id="getAttentionList" resultType="com.riffhub.pojo.Fan">
        SELECT * FROM fans WHERE fan_id=#{attentionId}
    </select>

    <select id="checkAttention" resultType="com.riffhub.pojo.Fan">
        SELECT * FROM fans WHERE fan_id=#{userId} AND person_id=#{attentionId}
    </select>

</mapper>