<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.riffhub.mapper.PostsMapper">
    <insert id="add" parameterType="com.riffhub.pojo.Post" useGeneratedKeys="true" keyProperty="id">
        insert into posts(content, title, nickname,user_id, create_time, update_time)
        values (#{content}, #{title}, #{nickname},#{userId}, now(), now())
    </insert>


    <insert id="relatedTagsToPost" parameterType="java.util.List">
        INSERT INTO PostTags (tag_id,post_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.tagId},#{item.postId})
        </foreach>
    </insert>


    <insert id="reply" parameterType="com.riffhub.pojo.Reply">
        insert into replies(post_id, user_id, content, create_time)
        values (#{postId}, #{userId}, #{content}, now())
    </insert>


    <delete id="deleteReply" parameterType="com.riffhub.pojo.Reply">
        DELETE FROM replies
        WHERE id = #{id}
    </delete>


    <select id="findByReplyId" resultType="com.riffhub.pojo.Reply">
        SELECT * FROM replies WHERE id=#{id}
    </select>


    <select id="getPostList" resultType="com.riffhub.pojo.Post">
        SELECT * FROM Posts
    </select>
    <select id="findPostByUserId" resultType="com.riffhub.pojo.Post">
        SELECT * FROM Posts WHERE user_id=#{userId}
    </select>
    <select id="findPostByTitle" resultType="com.riffhub.pojo.Post">
        SELECT * FROM Posts WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>
    <select id="findPostByPostId" resultType="com.riffhub.pojo.Post">
        SELECT * FROM Posts WHERE id IN
        <foreach item="item" index="index" collection="postTagsList" open="(" separator="," close=")">
            #{item.postId}
        </foreach>
    </select>
    <select id="findPostByTag"  resultType="com.riffhub.pojo.PostTags">
        SELECT * FROM PostTags WHERE tag_id=#{tagId}
    </select>
</mapper>