<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.riffhub.mapper.PostsMapper">
    <insert id="add" parameterType="com.riffhub.pojo.Post" useGeneratedKeys="true" keyProperty="id">
        insert into posts(content, title, nickname,user_id, img_url, avatar_url, create_time, update_time)
        values (#{content}, #{title}, #{nickname},#{userId}, #{imgUrl}, #{avatarUrl}, now(), now())
    </insert>


    <insert id="relatedTagsToPost" parameterType="java.util.List">
        INSERT INTO PostTags (tag_id,post_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.tagId},#{item.postId})
        </foreach>
    </insert>


    <insert id="reply" parameterType="com.riffhub.pojo.Reply">
        insert into replies(post_id, user_id, parent_reply_id, nickname, avatar_url, content, create_time)
        values (#{postId}, #{userId}, #{parentReplyId}, #{nickname}, #{avatarUrl}, #{content}, now())
    </insert>


    <delete id="deleteReply" parameterType="com.riffhub.pojo.Reply">
        DELETE FROM replies
        WHERE id = #{id}
    </delete>


    <select id="findByReplyId" resultType="com.riffhub.pojo.Reply">
        SELECT * FROM replies WHERE id=#{postId}
    </select>

    <select id="getReplyListByPostId" resultType="com.riffhub.pojo.Reply">
        SELECT * FROM replies WHERE post_id=#{postId}
    </select>


    <select id="getPostList" resultType="com.riffhub.pojo.Post">
        SELECT * FROM Posts
    </select>
    <select id="findPostByUserId" resultType="com.riffhub.pojo.Post">
        SELECT * FROM Posts WHERE user_id=#{userId}
    </select>
    <select id="findPostByTitle" resultType="com.riffhub.pojo.Post">
        SELECT * FROM Posts WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>
    <select id="findReplyByReplyId" resultType="com.riffhub.pojo.Reply">
        SELECT * FROM replies WHERE id=#{replyId}
    </select>
    <select id="findPostByPostId" resultType="com.riffhub.pojo.Post">
        SELECT * FROM Posts WHERE id IN
        <foreach item="item" index="index" collection="postTagsList" open="(" separator="," close=")">
            #{item.postId}
        </foreach>
    </select>
    <select id="findPostByTag"  resultType="com.riffhub.pojo.PostTags">
        SELECT * FROM PostTags WHERE tag_id=#{tagId}
    </select>

    <delete id="deletePost" parameterType="com.riffhub.pojo.Post">
        DELETE FROM posts
        WHERE id = #{postId}
    </delete>

    <select id="findByPostId" resultType="com.riffhub.pojo.Post">
        SELECT * FROM posts WHERE id=#{id}
    </select>

    <delete id="deletePostTag" parameterType="com.riffhub.pojo.Post">
        DELETE FROM posttags
        WHERE post_id = #{postId}
    </delete>

    <insert id="likePost">
        insert into likes(post_id, user_id, like_time)
        values (#{postId}, #{userId}, now())
    </insert>

    <delete id="dislikePost">
        DELETE FROM likes
        WHERE post_id = #{postId} AND user_id = #{userId}
    </delete>


    <select id="getLikeCount" resultType="int">
        SELECT COUNT(*) AS count FROM likes WHERE post_id = #{postId};
    </select>

    <select id="getReplyCount" resultType="int">
        SELECT COUNT(*) AS count FROM replies WHERE post_id = #{postId};
    </select>

    <select id="findByUseId" resultType="com.riffhub.pojo.Like">
        SELECT * FROM likes WHERE user_id=#{userId} AND post_id=#{postId}
    </select>

</mapper>